<nav class="navbar">
    <div class="navbar-brand">
        <img *ngIf="logoUrl" [src]="logoUrl" alt="App Logo" class="logo">
        <!-- <span class="app-title">USCIB Carnet Portal</span> -->
    </div>

    <div class="navbar-menu">
        <button mat-button (click)="navigateTo('home')">Home</button>
        <button mat-button [matMenuTriggerFor]="users">Users</button>
        <mat-menu #users="matMenu">
            <button mat-menu-item (click)="navigateTo('usersettings')">User Settings</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="maintenance">Maintenance</button>
        <mat-menu #maintenance="matMenu">
            <button mat-menu-item (click)="navigateTo('preparer')">Preparer</button>
            <button mat-menu-item (click)="navigateTo('holder')">Holder</button>
            <button mat-menu-item (click)="navigateTo('carnet')">Carnet</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="admin">Admin</button>
        <mat-menu #admin="matMenu">
            <button mat-menu-item (click)="navigateTo('sequence')">Sequence</button>
            <button mat-menu-item (click)="navigateTo('regions')">Regions</button>
            <button mat-menu-item (click)="navigateTo('users')">Users</button>
        </mat-menu>
<!-- 
        <button mat-icon-button [matMenuTriggerFor]="profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu> -->

        <div class="profile-container">
            <button mat-icon-button (click)="toggleProfileMenu()" class="profile-button">
                <mat-icon>account_circle</mat-icon>
            </button>

            <div class="profile-menu" *ngIf="showProfileMenu">
                <div class="profile-info">
                    <mat-icon>email</mat-icon>
                    <span>{{ userEmail }}</span>
                </div>

                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </div>
        </div>
    </div>
</nav>